# Tablero Como vamos
## Vicepresidencia de Planeación - Inversión

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib as mpl 
import six
import os 

pathout = './data/'
if not os.path.exists(pathout):
    os.mkdir(pathout) 
    pathgraphs = './graphs/'
    if not os.path.exists(pathgraphs): 
        os.mkdir(pathgraphs)

In [32]:
Metas = pd.read_excel(pathout + 'Metas.xlsx')

In [3]:
Negocios = pd.read_excel(pathout + 'Negocios.xlsx')

In [4]:
Oportunidades = pd.read_excel(pathout + 'Oportunidades.xlsx')

In [5]:
ENacionales = pd.read_excel(pathout + 'Empresas_nacionales.xlsx')

In [125]:
añoactual = 2021
añoanterior = 2020
trimestre = 3

#Fecha en Formato aaaa/mm/dd para la base de Tableau 12a
negociosañoactual = '2021-01-01'
fechaactual  = '2021-11-01'
fechaactual2  = '1/01/2021'
fechaanterior2 = '1/01/2020'
eneroañoanterior = '2020-01-01'
fechaactual_añoanterior = '2020-11-01'
diciembreañoanterior = '2020-12-31'

# Asesores Nacional

## Metas

In [155]:
Metas1 = Metas.drop(Metas[Metas['Meta: Eje'] != 'Inversión'].index)
Metas1 = Metas1.drop(Metas1[Metas1['Meta: Año'] !=  añoactual].index)
#list(dict.fromkeys(Metas['Meta: Tipo de meta']))
#Metas1 = Metas1.drop(Metas1[Metas1['Meta: Tipo de meta'] ==  'Monto de Expansión internacional'].index)
#Metas1 = Metas1.drop(Metas1[Metas1['Meta: Tipo de meta'] ==  'Proyectos de Expansión Internacional'].index)
#Metas2 = Metas1
MetasQ = Metas1.drop(Metas1[Metas1['Meta: Período'] > trimestre].index)

In [156]:
a = Metas1.groupby(['Meta: Nombre del propietario' , 'Meta: Tipo de meta' , 'E_Cadenas' ])['Meta: Valor meta'].sum().reset_index()

In [157]:
a2 = MetasQ.groupby(['Meta: Nombre del propietario' , 'Meta: Tipo de meta' , 'E_Cadenas' ])['Meta: Valor meta'].sum().reset_index()

In [158]:
Metasdf = a.merge(a2, how='outer', left_on=['Meta: Nombre del propietario' , 'Meta: Tipo de meta' , 'E_Cadenas'], right_on=['Meta: Nombre del propietario' , 'Meta: Tipo de meta' , 'E_Cadenas']).fillna(0)
Metasdf.rename(columns={'Meta: Valor meta_x': 'Valor Meta', 'Meta: Valor meta_y': 'Valor Meta Q'}, inplace=True)

## Monto de Inversión

In [159]:
Negocios1 = Negocios.drop(Negocios[Negocios['Logro: Eje'] != 'Inversión'].index)
Negocios1 = Negocios1.drop(Negocios1[Negocios1['Meta 1 responsable Colombia: Año'] !=  añoactual].index)
Negocios1 = Negocios1.drop(Negocios1[Negocios1['Logro: Tipo de registro'] !=  'Monto de Inversión'].index)

In [160]:
b = Negocios1.groupby(['Logro: Responsable Colombia' , 'E_Cadenasproductivas'])['Logro: Valor'].sum().reset_index()
b['Meta: Tipo de meta']= 'Monto de Inversión'
b.rename(columns={ 'E_Cadenasproductivas' :'E_Cadenas' , 'Logro: Responsable Colombia': 'Meta: Nombre del propietario'}, inplace=True)

TFinal = Metasdf.merge(b, how='left', left_on=['E_Cadenas' , 'Meta: Nombre del propietario' , 'Meta: Tipo de meta'], right_on=['E_Cadenas' ,'Meta: Nombre del propietario' , 'Meta: Tipo de meta']).fillna(0)

## Proyectos de Inversión

In [161]:
py = Negocios1.groupby(['Logro: Responsable Colombia' , 'E_Cadenasproductivas'])['E_ConteoProyectosInversión'].sum().reset_index()
py['Meta: Tipo de meta']= 'Proyectos Inversión'
py.rename(columns={ 'E_Cadenasproductivas' :'E_Cadenas' , 'Logro: Responsable Colombia': 'Meta: Nombre del propietario'}, inplace=True)

TFinal = TFinal.merge(py, how='left', left_on=['E_Cadenas' , 'Meta: Nombre del propietario' , 'Meta: Tipo de meta'], right_on=['E_Cadenas' ,'Meta: Nombre del propietario' , 'Meta: Tipo de meta']).fillna(0)

In [162]:
#list(dict.fromkeys(TFinal['Meta: Nombre del propietario']))

In [163]:
TFinal['Logro: Valor'] = TFinal['Logro: Valor'] + TFinal['E_ConteoProyectosInversión']
TFinal = TFinal.drop(columns=['E_ConteoProyectosInversión'])

In [176]:
writer = pd.ExcelWriter('Insumos Tablero Como Vamos Inversión.xlsx')
TFinal.to_excel(writer , 'Asesores por Cadena')
writer.save()

## Asesores Exterior

## Metas

In [164]:
a_Ext = Metas1.groupby(['Meta: Nombre del propietario' , 'Meta: Tipo de meta' , 'E_Localización_TurqenEsp' ])['Meta: Valor meta'].sum().reset_index()
a2_Ext = MetasQ.groupby(['Meta: Nombre del propietario' , 'Meta: Tipo de meta' , 'E_Localización_TurqenEsp' ])['Meta: Valor meta'].sum().reset_index()

Metasdf_Ext = a_Ext.merge(a2_Ext, how='outer', left_on=['Meta: Nombre del propietario' , 'Meta: Tipo de meta' , 'E_Localización_TurqenEsp'], right_on=['Meta: Nombre del propietario' , 'Meta: Tipo de meta' , 'E_Localización_TurqenEsp']).fillna(0)
Metasdf_Ext.rename(columns={'Meta: Valor meta_x': 'Valor Meta', 'Meta: Valor meta_y': 'Valor Meta Q'}, inplace=True)

## Monto de Inversión (Exterior)

In [165]:
Negocios1 = Negocios.drop(Negocios[Negocios['Meta 1 responsable Colombia: Año'] !=  añoactual].index)
Negocios1 = Negocios1.drop(Negocios1[Negocios1['Logro: Tipo de registro'] !=  'Monto de Inversión'].index)

b_Ext = Negocios1.groupby(['Logro: Responsable en el Exterior 1' , 'Logro: Oficina Comercial'])['Logro: Valor'].sum().reset_index()
b_Ext['Meta: Tipo de meta']= 'Monto de Inversión'
Metasdf_Ext.rename(columns={ 'E_Localización_TurqenEsp': 'Logro: Oficina Comercial'}, inplace=True)
b_Ext.rename(columns={ 'Logro: Responsable en el Exterior 1': 'Meta: Nombre del propietario'}, inplace=True)
                      
TFinal_Ext = Metasdf_Ext.merge(b_Ext, how='left', left_on=['Logro: Oficina Comercial' , 'Meta: Nombre del propietario' , 'Meta: Tipo de meta'], right_on=['Logro: Oficina Comercial' ,'Meta: Nombre del propietario' , 'Meta: Tipo de meta']).fillna(0)

In [166]:
py_Ext = Negocios1.groupby(['Logro: Responsable en el Exterior 1' , 'Logro: Oficina Comercial'])['E_ConteoProyectosInversión'].sum().reset_index()
py_Ext['Meta: Tipo de meta']= 'Proyectos Inversión'
py_Ext.rename(columns={'Logro: Responsable en el Exterior 1': 'Meta: Nombre del propietario'}, inplace=True)

TFinal_Ext = TFinal_Ext.merge(py_Ext, how='left', left_on=['Logro: Oficina Comercial' , 'Meta: Nombre del propietario' , 'Meta: Tipo de meta'],
                      right_on=['Logro: Oficina Comercial' ,'Meta: Nombre del propietario' , 'Meta: Tipo de meta']).fillna(0)


TFinal_Ext['Logro: Valor'] = TFinal_Ext['Logro: Valor'] + TFinal_Ext['E_ConteoProyectosInversión']
TFinal_Ext = TFinal_Ext.drop(columns=['E_ConteoProyectosInversión'])

In [167]:
TFinal_Ext[TFinal_Ext['Meta: Nombre del propietario'] == 'Toko Tamaki (Inv)']

,Meta: Nombre del propietario,Meta: Tipo de meta,Logro: Oficina Comercial,Valor Meta,Valor Meta Q,Logro: Valor
343,Toko Tamaki (Inv),Monto de Inversión,Japón,190000000.0,142500000.0,108719283.0
344,Toko Tamaki (Inv),Número de oportunidades de Inversión a etapa 1,Japón,22.0,13.0,0.0
345,Toko Tamaki (Inv),Número de oportunidades de Inversión a etapa 2,Japón,12.0,7.0,0.0
346,Toko Tamaki (Inv),Número de oportunidades de Inversión a etapa 3,Japón,6.0,4.0,0.0
347,Toko Tamaki (Inv),Proyectos Inversión,Japón,5.0,3.0,4.0

In [177]:
TFinal_Ext.to_excel(writer , 'Asesores por OfiCOm')
writer.save()

In [178]:
from IPython.display import FileLink
FileLink('Insumos Tablero Como Vamos Inversión.xlsx')

C:\Users\user\Documents\Codigos Python\Tablero Como Vamos\Insumos Tablero Como Vamos Inversión.xlsx